img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.Header {
    max-width: 1200px;
    width: 100%;
    border: 1px solid;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.Logo {
    width: 100px;
    height: 100px;
}

.Search{
    margin: auto;
}

.NavBar {
    margin: auto;
}

.Options {
    color: white;
    margin: auto 0;
    list-style: none;
    display: inline-flex;
}

.Item {
    padding: 0 15px;
}

.Item a {
    text-decoration: none;
    color: white;
}

.Item a:hover {
    color: #6e1c28;
}

.Item i {
    padding: 0 5px;
    transition: all .3s ease;
}

.Item a:hover>i {
    transform: rotate(90deg);
}

.Item:hover .Submenu {
    display: block;
    position: absolute;
    margin-top:0px;
    margin-left: -15px;
    z-index: 30;
}

.Buttons {
    margin: auto 0;
}